<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Update Movies</title>
</head>
<body>

    <div class="container">
        <h1>Update Movies</h1>
        <p><a class="btn btn-primary" href="/movies" role="button">Show All Movie</a></p>
        <form method="POST" action="/movies/<%= movies.id %>/edit?_method=PUT" enctype="multipart/form-data">
          <div class="form-group">
              <label for="title">title</label>
              <input type="text" class="form-control" id="title" name="title" value="<%= movies.title %>">
          </div>
      
          <div class="form-group">
              <label for="genres">genres</label>
              <input type="text" class="form-control" id="genres" name="genres" value="<%= movies.genres %>">
          </div>
      
          <div class="form-group">
              <label for="year">Release year</label>
              <input type="text" class="form-control" id="year" name="year" value="<%= movies.year %>">
          </div>
      
        <div class="form-group">
              <label for="photo">Input photo</label>
              <input type="file" class="form-control-file" id="photo" name="photo">
          </div>
      
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div> 

</body>
</html>